.noActionEvent{
background: linear-gradient(90deg, rgba(233,207,48,1) 0%, rgba(233,207,48,1) 1.3%, rgba(255,255,255,1) 1.3%) !important;
}
.noActionEvent.activeEvent{
background: linear-gradient(90deg, rgba(233,207,48,1) 0%, rgba(233,207,48,1) 1.3%,rgb(233, 207, 48,0.2) 1.3%) !important;
}
.ui.basic.label{
  background: none !important;
  border: none !important;
  color: white;
}
.activeEvent{
  background:rgb(233, 207, 48,0.2) 1.3% !important;
}
.ui.list>.item .header{
  text-transform: capitalize;
}
.ui.secondary.pointing.menu .active.item {
  border-color: #3da836 !important;
}
.ui.inverted.dimmer .ui.loader:after {
  border-color: #3da836 transparent transparent;
}
button{
  box-shadow: 0px 3px 6px #00000029 !important;
}
.activeAction {
  box-shadow: 0px 3px 6px #00000029;
  background-color: #454f63 !important;
  color: #ffffff !important;
}
.action {
  box-shadow: 0px 3px 6px #00000029;
  background-color: #f4f4f4;
  color: #454f63 !important;
}
.ui.segment,
.ui.attached.segment {
  border: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
